<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Sys_Admin" />
            <deny users="?" />
            <deny users="*" />
        </authorization>
        <customErrors mode="On" defaultRedirect="~/Datainput/errorMessage/error.aspx">
            <error statusCode="403" redirect="Unauthorized.aspx" />
            
        </customErrors>
    </system.web>
    
</configuration>

